body {
	margin:0px;
	background-image: url("https://i.imgur.com/wi0w9Mc.jpg"); 
	font-family:"Calibri", Arial, Verdana;
	font-size:12px;
    background-repeat: no-repeat;
    background-size: cover;
}


.todo {
    width: 920px;
	border: 1px black;
	margin:20px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 8px 8px 5px grey;
    background-color: #E4E2D5;
}

.cabecalho {
    width: 920px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    color: white;
    text-shadow: 0 0 5px black;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#6fa0f6), to(#095c9c))
}

.meio{
    width: 920px;
	min-height: 600px;
}

.conteudo{
    width: 80%;
    height: 550px;
    float: right;
    margin: 2px 1px 2px 1px;
}


.container-box {
    display: flex;
    flex-wrap: wrap;
}


.box {
    background-color: #dddddd;
    border-radius: 5px;
    margin: var(--margin);
    height: 100px;
    border: 1px solid black;
    box-shadow: 8px 8px 5px grey;
    background: url("https://i.imgur.com/a9bSfTr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.a{
    width: calc((100%/3) - (var(--margin)* 2));
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;
    text-align: center;
}

.link{
    float: left;
    width: 19%;
    height: 20px;
    margin-top: 20px;
    margin-left: 4px;
    font-size: 15px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

img{
    float: left;
    height: 100px;
    border-radius: 5px;
}
.rodape{
    text-align: right;
    margin-bottom: 5px;
    padding-right: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: #095c9c;
}

a:link {
    color: black;
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }